body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid black;
  margin-top: 20px;
}

.product-card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  gap: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.product-card img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 430px) {
  .product-container {
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 5px;
  }

  .product-card {
    padding: 8px;
  }

  .product-card img {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }

  .product-card {
    margin: 10px auto;
    padding: 8px;
  }

  .product-card img {
    max-width: 250px;
  }
}
